.editable-table {
	-fx-border-width: 1;
	-fx-border-color: #ccc;
}

.editable-table .row {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #ccc;
}
.editable-table .row:selected {
	-fx-background-color: -fx-selection-bar-non-focused;
}
.editable-table .row:selected > Label {
    -fx-text-fill: inherit;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
